{namespace blog=T3G\AgencyPack\Blog\ViewHelpers}
{namespace core=TYPO3\CMS\Core\ViewHelpers}
<f:layout name="BackendWeb" />

<f:section name="intro">
  <h1><f:translate key="backend.headline.comments" /></h1>
  <p class="lead"><f:translate key="backend.lead.comments" /></p>
</f:section>

<f:section name="content">
    <f:render partial="Backend/BlogFilter" arguments="{blogSetups: blogSetups, activeBlogSetup: activeBlogSetup, action: 'comments'}" />
    <f:render partial="Backend/CommentsFilter" arguments="{_all}" />
    <f:if condition="{f:count() -> comments} > 0">
        <f:then>
            <div class="table-fit">
              <table class="table table-striped table-bordered dataTables" data-columns='[{"searchable": false, "orderable": false}, {"type": "string"}, {"type": "string"}, {"type": "string"}, {"type": "date"}]'>
                <thead>
                  <tr>
                      <th><f:translate key="backend.table.actions" /></th>
                      <th data-filter="true"><f:translate key="backend.table.author" /></th>
                      <th><f:translate key="backend.table.comment" /></th>
                      <th data-filter="true"><f:translate key="backend.table.post" /></th>
                      <th><f:translate key="backend.table.date" /></th>
                  </tr>
                </thead>
                <tbody>
                  <f:for each="{comments}" as="comment">
                      <tr>
                          <td><f:render section="actions" arguments="{_all}" /></td>
                          <td data-search="{comment.name}" data-filter="{comment.name}"><strong>{comment.name}</strong></td>
                          <td>{comment.comment}</td>
                          <td data-search="{comment.post.title}" data-filter="{comment.post.title}">
                              <f:if condition="{comment.post}">
                                <f:then><blog:link.be.post post="{comment.post}" /></f:then>
                                <f:else><f:translate key="backend.message.nopost" /></f:else>
                              </f:if>
                          </td>
                          <td data-order="{f:format.date(format: 'U', date: comment.crdate)}"><f:format.date format="d.m.Y">{comment.crdate}</f:format.date></td>
                      </tr>
                  </f:for>
                </tbody>
              </table>
            </div>
        </f:then>
        <f:else>
          <f:be.infobox state="-1" title="{f:translate(key: 'backend.warning')}">
              <p><f:translate key="backend.message.nocomments" /></p>
          </f:be.infobox>
        </f:else>
    </f:if>
</f:section>

<f:section name="actions">
	<div class="btn-group btn-group-actions" role="group">
		<f:switch expression="{comment.status}">
			<f:case value="0">
				<f:comment>Status: pending</f:comment>
				<f:link.action class="btn btn-default" data="{toggle: 'tooltip', container: 'body'}" title="{f:translate(key: 'action.approve')}" action="updateCommentStatus" arguments="{comment: comment, status: 'approve', filter: activeFilter, blogSetup: activeBlogSetup}"><core:icon identifier="status-status-checked" /></f:link.action>
				<f:link.action class="btn btn-default" data="{toggle: 'tooltip', container: 'body'}" title="{f:translate(key: 'action.decline')}" action="updateCommentStatus" arguments="{comment: comment, status: 'decline', filter: activeFilter, blogSetup: activeBlogSetup}"><core:icon identifier="actions-close" /></f:link.action>
			</f:case>
			<f:case value="10">
				<f:comment>Status: approved</f:comment>
				<f:link.action class="btn btn-default" data="{toggle: 'tooltip', container: 'body'}" title="{f:translate(key: 'action.decline')}" action="updateCommentStatus" arguments="{comment: comment, status: 'decline', filter: activeFilter, blogSetup: activeBlogSetup}"><core:icon identifier="actions-close" /></f:link.action>
				<f:link.action class="btn btn-default" data="{toggle: 'tooltip', container: 'body'}" title="{f:translate(key: 'action.delete')}" action="updateCommentStatus" arguments="{comment: comment, status: 'delete', filter: activeFilter, blogSetup: activeBlogSetup}"><core:icon identifier="actions-delete" /></f:link.action>
			</f:case>
			<f:case value="50">
				<f:comment>Status: declined</f:comment>
				<f:link.action class="btn btn-default" data="{toggle: 'tooltip', container: 'body'}" title="{f:translate(key: 'action.approve')}" action="updateCommentStatus" arguments="{comment: comment, status: 'approve', filter: activeFilter, blogSetup: activeBlogSetup}"><core:icon identifier="status-status-checked" /></f:link.action>
				<f:link.action class="btn btn-default" data="{toggle: 'tooltip', container: 'body'}" title="{f:translate(key: 'action.delete')}" action="updateCommentStatus" arguments="{comment: comment, status: 'delete', filter: activeFilter, blogSetup: activeBlogSetup}"><core:icon identifier="actions-delete" /></f:link.action>
			</f:case>
			<f:case value="90">
				<f:comment>Status: deleted</f:comment>
				<f:link.action class="btn btn-default" data="{toggle: 'tooltip', container: 'body'}" title="{f:translate(key: 'action.approve')}" action="updateCommentStatus" arguments="{comment: comment, status: 'approve', filter: activeFilter, blogSetup: activeBlogSetup}"><core:icon identifier="status-status-checked" /></f:link.action>
				<f:link.action class="btn btn-default" data="{toggle: 'tooltip', container: 'body'}" title="{f:translate(key: 'action.decline')}" action="updateCommentStatus" arguments="{comment: comment, status: 'decline', filter: activeFilter, blogSetup: activeBlogSetup}"><core:icon identifier="actions-close" /></f:link.action>
			</f:case>
		</f:switch>
		<blog:link.be.comment class="btn btn-default" title="{f:translate(key: 'action.editComment')}" comment="{comment}"><core:icon identifier="actions-open" /></blog:link.be.comment>
	</div>
</f:section>
